

There is a directory containing all lichess puzzles organised by theme in the themes_pgn_0-1300 directory.
The pgns in each theme are organised from least difficult to most difficult.

Read the README.md and you'll see a table of chapters. Each chapter has an associated pgn file in the "beginner-tactics-mastery-1000-puzzles" directory.

Each pgn should have the amount of puzzles that is written in the pgn.